Django==1.8.11
argparse==1.4.0
arrow==0.7
celery==3.1.23
dj-database-url==0.4.0
django-annoying==0.8.2
django-auth-ldap==1.2.6
django-celery==3.1.16
django-scheduler==0.7.5
django-uuidfield==0.5.0
djangorestframework==3.1.3
django-tables2-simplefilter==0.1
django-tables2==1.0.4
django-bootstrap3==6.1.0
dnspython==1.12.0
fpconst==0.7.2
future==0.14.3
gunicorn==19.3.0
httplib2==0.9.1
icalendar==3.9.0
kombu~=3.0
mercurial==3.4.1
oauth2client==1.4.11
pyasn1==0.1.7
pyasn1-modules==0.0.5
python-dateutil==2.4.2
python-ldap==2.4.19
pytz==2015.4
requests[security]
mysql-python==1.2.5
rsa
six==1.9.0
slacker==0.6.2
sleekxmpp==1.3.1
twilio==4.4.0
vobject
wsgiref==0.1.2
django-twilio
