argparse
gunicorn
Django==1.6.2
django-celery==3.1.1
djangorestframework==2.4.3
git+https://github.com/deathowl/django-scheduler.git
django-uuidfield==0.5.0
twilio==3.4.1
Celery==3.1.9
python-dateutil==2.2
pyasn1
pyasn1_modules
dnspython
sleekxmpp
dj-database-url
slacker
south
django-auth-ldap
django-ldap-basic-auth
