{% extends 'base.html' %}

{% block content %}
<div class="row header">
    <div class="col-xs-12 col-md-8">
        <h2>{% if item %}Edit service{% else%}New service{% endif %}</h2>
        {% if service_silenced %}
        <h3>
            <form method="post" action="{% url 'openduty.services.unsilence' item.id %}">
                <span class="label label-danger">Silenced for {{ service_silenced }}</span>
                <button type="submit" class="btn btn-danger">Remove silence</button>
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ url }}">
            </form>
        </h3>
        {% endif %}
    </div>
</div>
{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}
<form class="form-horizontal" role="form" method="post" action="{% url 'openduty.services.save' %}">
    <input type="hidden" name="id" value="{% if item %}{{ item.id }}{% else%}0{% endif %}">
    {% if item %}
    <div class="form-group">
        <label class="col-sm-2 control-label">Service id</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{ item.id }}</p>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Service name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" id="name" placeholder="Service name" value="{% if item %}{{ item.name }}{% endif %}">
        </div>
    </div>
    <div class="form-group">
        <label for="calendar" class="col-sm-2 control-label">Escalation policy</label>
        <div class="col-sm-10 form-inline">
            <select id="policy" name="policy" class="form-control">
                <option value="" {% if policy == None %}selected{% endif %}>-</option>
                {% for c in policies %}
                <option value="{{ c.id }}" {% if policy.id == c.id %}selected{% endif %}>{{ c.name }}</option>
                {% endfor %}
            </select>
            <a href="{% url 'openduty.escalation.edit' policy.id %}" role="button" class="btn btn-success btn-large">Jump to {{ policy }}</a>
        </div>


    </div>
    <div class="form-group">
        <label for="calendar" class="col-sm-2 control-label"></label>

    </div>
    <div class="form-group">
        <label for="retry" class="col-sm-2 control-label">Retry after:</label>
        <div class="col-sm-1">
            <input type="number" class="form-control" name="retry" id="retry" value="{{ item.retry|default:"1" }}">
            <p class="help-block">minute(s)</p>
        </div>
    </div>
    <div class="form-group">
        <label for="escalate_after" class="col-sm-2 control-label">Escalate after:</label>
        <div class="col-sm-1">
            <input type="number" class="form-control" name="escalate_after" id="escalate_after" value="{{ item.escalate_after|default:"1" }}">
            <p class="help-block">minute(s)</p>
        </div>
    </div>
    <div class="form-group">
        <label for="disable_notifications" class="col-sm-2 control-label">Disable Notifications</label>
        <div class="col-sm-1">
            <input type="checkbox" class="form-control alert-danger" name="disable_notification" id="disable_notification" {% if item.notifications_disabled  %} checked {% endif %}>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
    {% csrf_token %}
</form>

    <form class="form-horizontal" role="form" method="post" action="{% url 'openduty.services.silence' item.id %}">
        <div class="form-group">
                <label class="col-sm-2 control-label">Silence service for</label>
                    <input type="hidden" name="url" value="{{ url }}">
                    <div class="col-sm-3">
                        <input type="number" class="form-control" name="silence_for" id="silence_for" placeholder="Silence for x hours">
                    </div>
                    {% csrf_token %}
                    <input type="submit" value="Silence Service"  class="btn btn-inverse">
        </div>
    </form>

{% if item %}
<div class="row header">
    <div class="col-xs-12 col-md-8"><h3>API Keys</h3></div>
    <div class="col-xs-6 col-md-4 button">
        <form class="form-inline" role="form" method="post" action="{% url 'openduty.services.token_create' item.id %}">
            <div class="form-group">
                <label class="sr-only" for="key_name">API Key Name</label>
                <input type="text" class="form-control" id="key_name" name="key_name" placeholder="API Key Name">
            </div>
            <button type="submit" class="btn btn-default">Create API Key</button>
            {% csrf_token %}
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>API Key Name</th>
            <th>API Key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for api_key in api_keys %}
            <tr>
                <td>{{ api_key.name }}</td>
                <td>{{ api_key.token_id_id }}</td>
                <td class="controls">
                    <a href="{% url 'openduty.services.token_delete' api_key.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
