{% extends 'base.html' %}

{% block content %}
    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <div class="row header">
      <div class="col-xs-12 col-md-8"><h2>Services</h2></div>
      <div class="col-xs-6 col-md-4 button"><a href="{% url 'openduty.services.new' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New service</a></div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Service name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in services %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td class="controls">
                        <a href="{% url 'openduty.services.edit' item.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{% url 'openduty.services.delete' item.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}