
<a href="{% url 'openduty.incidents.details' record.id %}" class="btn btn-default btn-sm"
        data-toggle="tooltip" data-placement="top" title="Edit">
    <span class="glyphicon glyphicon-edit"></span></a>

<form method="post" action="{% url 'openduty.incidents.update_type' %}">
    {% csrf_token %}
    <input type="hidden" name="url" value="{{ request.get_full_path }}">
    <input type="hidden" name="id" value="{{ record.id }}">
        <button  type="submit" class="btn btn-default btn-sm" name="event_type" value="resolve"
             data-toggle="tooltip" data-placement="top" title="Resolve">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button  type="submit" class="btn btn-default btn-sm" name="event_type" value="acknowledge"
             data-toggle="tooltip" data-placement="top" title="Acknowledge">
        <span class="glyphicon glyphicon-volume-off"></span>
    </button>
</form>
