{% extends 'base.html' %}

{% load arrowfilter %}

{% block content %}
<div class="center-block">
    <div class="row header">
        <div style="text-align: center"><h2>Incident details</h2></div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-6 control-label">Service name</label>

            <div class="col-sm-6">
                <p class="form-control-static"><a href="{% url 'openduty.services.edit' item.service_key.id  %}">{{ item.service_key.name }}</a></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6 control-label">Occurred at</label>

            <div class="col-sm-6">
                <p class="form-control-static">{{ item.occurred_at }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6 control-label">Incident key</label>

            <div class="col-sm-6">
                <p class="form-control-static">{{ item.incident_key }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6 control-label">Incident event type</label>

            <div class="col-sm-6">
                <p class="form-control-static">{{ item.event_type }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6 control-label">Incident description</label>

            <div class="col-sm-6">
                <p class="form-control-static">{{ item.description }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6 control-label">Incident details</label>

            <div class="col-sm-6">
                <p class="form-control-static">{{ item.details }}</p>
            </div>
        </div>
    </div>
    <form class="form-horizontal" role="form" method="post" action="{% url 'openduty.incidents.update_type' %}">
        <input type="hidden" name="id" value="{{ item.id }}">
        <input type="hidden" name="url" value="{{ url }}">
        {% csrf_token %}
        <div class="form-group" style="text-align: center">
                <button name="event_type" value="acknowledge" type="submit" class="btn btn-warning">Acknowledge</button>
                <button name="event_type" value="resolve" type="submit" class="btn btn-success">Resolve</button>
        </div>
    </form>
    <div class="form-horizontal" style ="padding-left: 50px;">

        <div class="form-group">
                <label class="col-sm-5 control-label">Silence service for</label>
                <form class="form-horizontal" role="form" method="post" action="{% url 'openduty.services.silence' item.service_key.id %}">
                    <input type="hidden" name="url" value="{{ url }}">
                    <input type="hidden" name="incident_id" value="{{ item.id }}">
                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="silence_for" id="silence_for" placeholder="Silence for x hours">
                    </div>
                    {% csrf_token %}
                    <input type="submit" value="Silence Service"  class="btn btn-inverse">
               </form>
        </div>
    </div>

 <div class="form-horizontal" style ="padding-left: 50px;">

        <div class="form-group">
                <label class="col-sm-5 control-label">Silence incident for</label>
                <form class="form-horizontal" role="form" method="post" action="{% url 'openduty.incidents.silence' item.id %}">
                    <input type="hidden" name="url" value="{{ url }}">
                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="silence_for" id="silence_for" placeholder="Silence for x hours">
                    </div>
                    {% csrf_token %}
                    <input type="submit" value="Silence Incident"  class="btn btn-inverse">
               </form>
        </div>
    </div>

    <div class="form-horizontal" style ="padding-left: 50px;">
        <div class="form-group">
            <label class="col-sm-5 control-label">Forward to</label>
            <form class="form-horizontal" role="form" method="post" action="{% url 'openduty.incidents.forward_incident' %}">
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="hidden" name="url" value="{{ url }}">
                {% csrf_token %}
                       <select name="user_id">
                        {% for user in users %}
                         <option value="{{user.id}}">{{user.username}}</option>
                         {% endfor %}
                         </select>
               <input type="submit" value="Forward"  class="btn btn-info">
           </form>
        </div>
    </div>
    <table class="table table">
        <thead>
            <tr>
                <th>Time</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for h in history_list %}
                <tr class="{{ h.color }}">
                    <td>
                        <div data-toggle="tooltip" data-placement="top" title="{{ h.occurred_at }}">
                        {{ h.occurred_at|arrowfilter }}
                        </div>
                    </td>
                    <td>{{ h.user|default:"system" }}</td>
                    <td>{{ h.action }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}